body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: solid gray;
    height: 50vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label, button{
    margin-top: 20px;
}